header {
  background-color: var(--header-background);
  color: var(--header-text-color);
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--header-text-color);
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--header-text-color);
  font-size: 1.8rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 1000px) {
  .menu-toggle {
    display: block;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--header-background);
    text-align: center;
    z-index: 1000;
  }

  .active {
    display: flex !important;
  }
}
