.hero {
  text-align: center;
  padding: 4rem 1rem;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}

.slideshow-overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: white;
  text-align: center;
}

.slideshow-controls {
  margin-top: 1rem;
}

.slideshow-controls button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.slideshow-controls button:hover {
  background-color: var(--button-hover);
}

.featured-products {
  text-align: center;
  margin: 2rem 0;
  margin: 2rem auto;
  max-width: 80%;
  background: white;
  padding: 2rem;
}
.shop-by-industry {
  text-align: center;
  margin: 2rem 0;
  margin: 2rem auto;
  max-width: 80%;
  background: white;
  padding: 2rem;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.product {
  background: white;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: 250px;
  max-width: 250px;
  object-fit: contain;
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 10px;
}

.updates {
  text-align: center;
  margin: 2rem 0;
}

.updates p {
  font-size: 1.2rem;
}

.updates .btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.updates .btn:hover {
  background-color: var(--button-hover);
}
